body {
  background: linear-gradient( rgba(30, 0, 0, 0.5), rgba(0, 30, 0, 0.5) ), url('../img/background.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

h1 {
  font-family: sans-serif;
  font-size: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Droid Serif', cursive;
  font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
  float: right;
}

a {
    display: block;
    padding: 8px;
}

#thing {
  float: left;
}

#logo {
  width: 110px;
}

#button-1 {
  background: rgba(100, 100, 100, 0.4);
  border: 1px solid white;
  color: inherit;
}

#button-2 {
  background-color: #3B5998;
  color: inherit;
  border: none;
}

.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  text-align: center;
  color: white;
}

.button {
  border-radius: 2px;
  height: 50px;
  width: 180px;
  margin: 4px;
}
